<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-12">
                    {{languageItem.language | translate}}
                </div>
                <div class="col-lg-3 col-md-5 col-sm-12">
                    <span class="fw-bold">{{'spoken_level' | translate }}: </span> {{languageItem.spoken_level | translate}}
                </div>
                <div class="col-lg-3 col-md-5 col-sm-12">
                    <span class="fw-bold">{{'written_level' | translate }}: </span> {{languageItem.written_level | translate}}
                </div>
                <div class="col-lg-3 col-md-8 col-sm-12">
                    <span class="fw-bold">{{'comprehension_level' | translate }}: </span> {{languageItem.comprehension_level | translate}}
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <button type="button" title="Modifier" class="btn btn-secondary m-1 btn-sm" (click)="editLanguage(languageItem)"><i class="fa fa-edit"></i></button>
                    <button type="button" title="Detail" class="btn btn-info m-1 btn-sm" (click)="openModal(languageItem)"><i class="fa fa-info-circle fs-6"></i></button>
                    <button type="button" title="Supprimer" class="btn btn-danger m-1 btn-sm" (click)="openModalDelete(content)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'deleting' | translate}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        {{'do_you_really_want_to_remove_this_language' | translate}} (<span class="fw-bold">{{languageItem.language | translate}}</span>) ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">{{'no' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="deleteLanguage(languageItem)">{{'yes' | translate}}</button>
    </div>
</ng-template>