<div class="container">
    <div class="row py-3">
        <div class="col-lg-9 col-md-7 col-sm-12">
            <select class="form-select selectLanguage" aria-label="Default select example" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" 
                    [value]="language"
                    [selected]="language === translate.currentLang">
                    {{language | translate }}
                </option>
            </select>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-12 py-1 position-relative">
            <button type="button" class="btnModalCheck btn {{modalObservalble | langColor}} position-absolute end-0">{{(modalObservalble == 0 ? 'modal_close' : 'modal_opened') | translate }}</button>
        </div>
        <div class="col-md-12 pt-5">
            <h3 class="text-success py-3">{{translate.currentLang | translate }}</h3>
        </div>
        <div class="col-md-9 col-sm-12">
            <lang-form></lang-form>
        </div>
        <div class="col-md-3 col-sm-12 containerCardNumberLang pt-3 px-4">
            <div class="card text-white bg-dark mb-3 h-75 w-100 contentCardNumberLang">
                <div class="card-body">
                    <h5 class="card-title">{{'number_of_languages' | translate }}</h5>
                    <p class="card-text text-center py-4">{{(languages$ | async)?.length}}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="pt-4">{{'list_of_languages' | translate }}</h4>
                    </div>
                    <div class="col-12 text-center py-5" *ngIf="loader$ | async">
                        <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <lang-single class="col-sm-12 my-2" *ngFor="let language of languages$ | async" [languageItem]="language" (stateModalEvent)="modalObservalble=$event"></lang-single>
                </div>
            </div>
        </div>
    </div>
</div>